html {
  -webkit-hyphens: auto;
    -epub-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}
body {
  color: #222;
  font-family: Merriweather, Georgia, serif;
  font-size:  22px;
  line-height: 34px ;
  text-align: justify;
}
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #222;
  text-decoration: none;
}
.banner img {
  border-bottom: 6px solid #222;
  margin: 80px 0 20px;
  width: 100%;
}
.bold {
  font-family: Lato, Arial, sans-serif;
  font-weight: 900;
  line-height: 34px;
  text-transform: uppercase;
}
.link {
  margin-top: 60px;
  text-align: center;
}
.link a {
  border-bottom: 6px solid #222;
  padding-bottom: 6px;
}
.copyright {
  font-size: 20px;
  font-weight: 900;
  margin: 40px 0;
  text-align: center;
}
