@import url("reset.css");

/* Clearfix
 * *******************************************************/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* Main
 * *******************************************************/

body {
  color: #555;
  font: lighter 14px/1.5em Helvetica, Arial, sans-serif;
  padding: 40px 0;
  text-align: justify;
}
a {
  border-bottom: 1px dotted gray;
  color: gray;
  text-decoration: none;
}
a:hover, a:focus {
  border-bottom: 1px dotted #555;
  color: #555;
}
h1 {
  float: left;
  font-family: Georgia, serif;
  font-size: 200%;
  height: 1.5em;
  margin: 0.3em 0.6em -0.3em 0;
}
.container_12 > div {
  margin-top: 20px;
  margin-bottom: 80px;
}
.left {
  display: inline-block;
  float: left;
}
.right {
  display: inline-block;
  float: right;
}
.menu {
  margin: 10px auto 0;
  width: 210px;
}
.menu a {
  border: none !important;
}
.menu li {
  float: left;
}
.menu img {
  width: 30px;
}
.resume {
  margin-top: -5px;
  text-align: center;
}
.small {
  font-size: 70%;
}
.noborder {
  border: none !important;
}
.sliced {
  border: 1px solid #555;
  -webkit-box-shadow: 0px 0px 2px #555;
  -moz-box-shadow: 0px 0px 2px #555;
  box-shadow: 0px 0px 2px #555;
  height: 240px;
}
.copyright {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}
